    body {
      background-color: black;
    }
    .carousel-item img {
      height: 300px;
      object-fit: cover;
      width: 100%;
    }
    .card img {
      height: 150px;
      object-fit: cover;
    }
    footer {
      background-color: #343a40;
      color: white;
      padding: 20px 0;
      text-align: center;
    }
